html, body {
	height: 100%;
}
body {
	height: 100%;
	padding: 12px 0 0 54px;
}
a {
	text-decoration: none;
}
h2 {
	font-size: 1.8em;
	color: #003045;
	line-height: normal;
	font-weight: normal;
}
h4 {
	font-size: 1em;
	color: #003045;
	line-height: normal;
	font-weight: normal;
}
.row-full {
	width: 100%;
	float: left;
	clear: both;
}
.links {
	display: inline-block !important;
	margin: 0;
}
header .links {
	margin: 10px 10px 0 0;
}
.links > * {
	color: #a3acb1 !important;
	font-size: 0.9em;
	font-family: 'varelaregular';
	text-align: left !important;
	font-weight: normal;
	vertical-align: middle;
}
	.links * {
		color: #a3acb1;
	}
	.links > span.sep {
		margin: 10px 10px 5px 0;
	}
	.links a {
		text-decoration: underline;
	}
	.links a:hover {
		text-decoration: underline;
		color: #a3acb1 !important;
	}
.basket {
	min-width: 37px;
	height: 31px;
	float: right;
	background: url(../img/basket-icon.png) no-repeat 0 50%;
	margin: 5px 0px 0 0;
	position: relative;
}
	.basket span {
		float: right;
		padding: 0px 6px;
		margin: 5px 0 0 18px;
		color: #fff;
		background: #e96f24;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-size: 0.875em;
	}
header {
	min-width: 960px;
}
header nav {
	width: 100%;
	height: 70px;
	float: left;
	background: #f5f0e8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 15px 0 0 0;
	z-index: 100;
}
	header nav > * > * {
		position: static !important;
	}
	header nav ul {
		height: 70px;
		margin: 0;
		padding: 0;
		float: left;
	}
	header nav ul li {
		list-style: none;
		display: inline-block;
	}
		header nav ul li a {
			display: block;
			font-size: 1em;
			color: #879094;
			font-family: 'achille_fy_lregular';
		}
		header nav ul li.active a {
			color: #003045;
		}
			header nav ul.main-menu > li > a {
				height: 70px;
				line-height: 70px;
				position: relative;
				font-size: 1.15em;
			}
		header nav ul li .sub-menu {
			width: 100%;
			height: 56px;
			display: none;
			left: 0;
			top: 70px;
			position: absolute; 
			background: #003045;
		}
			header nav ul li .sub-menu li a {
				color: #fff;
				margin: 15px 25px 0 0;
			}
			header nav ul li .sub-menu li:hover a,
			header nav ul li .sub-menu li.active a {
				color: #a98e63;
			}
				header nav ul li .sub-menu li:last-child a {
					margin-right: 0;
				}
	header nav ul.main-menu > li {
		margin-right: 55px;
	}
	header nav ul.main-menu > li:hover > a,
	header nav ul.main-menu > li.active > a {
		color: #003045;	 
	}
	header nav ul.main-menu > li:hover > a:before,
	header nav ul.main-menu > li.active > a:before {
		width: 14px;
		height: 14px;
		content: " ";
		position: absolute;
		border-bottom: 14px solid #003045;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		left: 0;
		right: 0;
		bottom: 0px;
		margin: 0 auto;
	}
	header nav ul.main-menu > li:hover .sub-menu,
	header nav ul.main-menu > li.active .sub-menu {
		display: block;
	}
header nav .search {
	width: 41%;
	margin: 15px 0 0 0;
}
.input-left {
	width: 80%;
	height: 40px;
	line-height: 40px;
	float: left;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
	border: 0;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}
.input-left.bg-color {
	background-color: #f5f0e8;
}
.btn.btn-right {
	height: 40px;
	float: left;
	border: 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
header .input-left {
	float: right;
}
.btn-right.btn-search {
	width: 52px;
	float: right;
	background: url(../img/search-ico.png) no-repeat 50% #ba9967;
}

input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #acacac;
    font-size: 1em;
}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder,
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #acacac;
    font-size: 1em;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder,
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #acacac;
    font-size: 1.1em;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #acacac;
    font-size: 1em;
}

/* banner */
.banner {
	width: 100%;
	min-width: 960px;
	max-width: 960px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	z-index: 2;
}
.banner > img {
	max-width: 100%;
	max-height: 100%;
}
.banner .banner-form {
	min-height: 300px;
	display: inline-block;
	background: #fff;
	margin: 80px auto;
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	text-align: left;
	padding: 0 25px 25px 25px;
}
	.banner .banner-form.login {
		min-width: 270px;
		max-width: 270px;
	}
	.banner .banner-form.standard {
		min-width: 270px;
		max-width: 270px;
	}
	.banner .banner-form.register {
		min-width: 612px;
		max-width: 612px;
	}
.txt-border {
	width: 100%;
	height: 40px;
	line-height: 40px;
	display: block;
	border: 1px solid #ccd6da;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
}
.blue-circle {
	width: 100px;
	height: 100px;
	position: absolute;
	background: #003045;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 25px;
	right: -80px;
	text-align: center;
	color: #fff;
	font-size: 0.95em;
	line-height: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 0;
}

/* eof banner */

.h-sep-small {
	width: 100%;
	float: left;
	margin-top: 10px;
}
.h-sep-medium {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.h-sep-big {
	width: 100%;
	float: left;
	margin-top: 30px;
}

.pos-rel {
	position: relative;
}

/* buttons */
.btn {
	min-height: 40px;
	padding: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'varelaregular';
}
	.btn:hover {
		text-decoration: none !important;
	}
	.btn.btn-orange {
		background: #e96f24;
		color: #fff;
		font-size: 1.375em;
		padding-left: 20px;
		padding-right: 20px;
	}
	.btn.btn-small {
		min-height: 29px;
    	font-family: 'varelaregular';
    	padding: 0 15px;
	}
		.btn.btn-blue {
			background: #003045;
			color: #fff !important;
			font-size: 1em;
			line-height: normal;
			vertical-align: middle;
		}
			a.btn.btn-blue {
				padding-top: 3px;
			}
		
/* eof buttons */

.banner .legend {
	min-height: 90px;
	float: none;
	display: inline-block;
	background: #ba9967;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: -70px 0 0 0;
	
}
.banner .legend > * {
	height: 90px;
	background: url(../img/legend-icons.png) no-repeat;
	text-align: left;
	color: #fff;
	vertical-align: middle;
	display: table;
	font-family: 'varelaregular';
}
	.banner .legend > * span {
		display: table-cell;
		vertical-align: middle;
	}
	.banner .legend .left {
		background-position: 10px 20px;
		padding-left: 70px;
	}
	.banner .legend .middle {
		background-position: 25px -122px;
		border-left: 2px dotted #fff;
		border-right: 2px dotted #fff; 
		padding-left: 85px;
	}
	.banner .legend .right {
		background-position: 19px -265px;
		padding-left: 78px;
	}
.box-bottom {
	width: 100%;
	float: left;
	position: relative;
	z-index: 10;
}
.box-bottom.shadow {
	
	-webkit-box-shadow: inset 0 0 0 rgba(255,255,255,1), inset 00 0 rgba(255,255,255,1), inset 0 -40px 35px rgba(244,244,244,0.8);
	-moz-box-shadow: inset 0 0 0 rgba(255,255,255,1), inset 00 0 rgba(255,255,255,1), inset 0 -40px 35px rgba(244,244,244,0.8);
	box-shadow: inset 0 0 0 rgba(255,255,255,1), inset 0 0 0 rgba(255,255,255,1), inset 0 -40px 35px rgba(244,244,244,0.8);
	margin: 30px 0 0 0;
}
	p.quotes {
		background: url(../img/quotes.png) no-repeat 40px 0;
		padding-left: 27px;
		color: #003045;
		font-size: 1.5em;
		font-family: 'varelaregular';
	}
	p.quotes.pull-right {
		background-position: 45px 0;
	}
	.box-bottom.shadow p.quotes {
		margin-top: 50px;
	}
	.box-bottom.shadow p.quotes > span {
		font-size: 0.75em;
	}
.txt-highlight {
	color: #ba9967;
}
.img-bottom-fix {
	margin-bottom: -20px;
}
/* footer */
footer {
	width: 100%;
	min-width: 960px;
	min-height: 340px;
	float: left;
	background: #003045;
	padding: 40px 0 0 0;
}
footer ul.small-arrow {
	margin: 0;
	padding: 0;
}
footer ul.small-arrow li {
	width: 100%;
	float: left;
	margin: 0 0 4px 0; 
	padding: 0;
	list-style: none;
}
	footer ul.small-arrow li a {
		width: 100%;
		float: left;
		color: #fff;
		font-size: 0.875em;
		text-decoration: underline;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: url(../img/list-small-arrow.png) no-repeat 0 50%;
		padding: 0 0 0 15px;
	}
.ideal {
	width: 35px;
	height: 30px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat 0 -7px;
	margin-right: 20px;
}
.mini-tix {
	width: 33px;
	height: 30px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -54px -7px;
	margin-right: 20px;
}
.my-order {
	width: 103px;
	height: 29px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -106px  -8px;
}
.hover-footer-link { 
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.hover-footer-link:hover {
	opacity: 1;
}
footer h4 {
	color: #fff;
	margin: 0 0 15px 0;
	font-size: 1.1em;
}
footer span, footer p, footer a {
	color: #fff;
}
footer p {
	color: #fff;
	padding: 0;
	margin: 0;
}
p.help {
	padding: 0;
	vertical-align: top;
	padding-left: 60px;
	color: #fff;
}
p.help span {
	width: 55px;
	height: 41px;
	float: left;
	margin-left: -60px;
	background: url(../img/footer-icons-1.png) no-repeat -230px  -1px;
}
	p.help * {
		color: #fff;
		text-decoration: underline;
		vertical-align: top;
	}
.twitter {
	width: 44px;
	height: 43px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -303px  0px;
	margin-right: 19px;
}
.facebook {
	width: 44px;
	height: 43px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -366px  0px;
	margin-right: 19px;
}
.youtube {
	width: 44px;
	height: 43px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -428px  0px;
	margin-right: 19px;
}
.google {
	width: 44px;
	height: 43px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -491px  0px;
	margin-right: 19px;
}
.pinterest {
	width: 44px;
	height: 43px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -553px  0px;
}
.btn-right.btn-mail {
	width: 52px;
	background: url(../img/btn-mail.png) no-repeat 50% #ba9967;
}
footer .sep {
	width: 100%;
	height: 1px;
	float: left;
	border-top: 1px solid #33596a;
	margin: 30px 0 10px 0;
}
/* eof footer */


/* unfortunately */
.content-top-padding {
	width: 100%;
	float: left;
	padding-top: 100px;
}

h1.big {
	font-size: 3em;
	color: #003045;
    font-family: 'achille_fy_lblack';
    margin-bottom: 0px;
}
p.big-blue {
	color: #003045;
	font-size: 1.125em;
    font-family: 'achille_fy_lblack';
}
.btn-orange.big-top {
	margin-top: 70px;
}
h2.big {
    font-family: 'achille_fy_lblack';
    margin-bottom: 0px;
    line-height: 1.2em;
}
.lbl {
	width: 100%;
	height: 40px;
	display: inline-block;
	color: #003045;
	line-height: 40px;
    font-family: 'varelaregular';
    font-size: 1em;
}
	.lbl.normal {
		text-align: left;
	}
	.lbl.account {
		line-height: 90px;
	}
	.lbl a {
		color: #84c2ea;
		float: none;
	}
	.lbl a:hover {
		text-decoration: underline;
	}
.line-sep-gray {
	width: 100%;
	float: left;
	height: 1px;
	border-top: 1px solid #ccd6da;
	margin: 15px 0 10px 0;
}
p.gray {
	color: #a3acb1;
	font-size: 0.875em;
    font-family: 'varelaregular';
}
/* eof unfortunately */

/* profile detail */
	div.alert span {
		color: #000;
	}
	div.alert p.gray {
		color: #9a9a9a;
	}
	.btn.btn-black-border {
		border: 1px solid #000;
		color: #333;
		background: transparent;
		padding: 8px 10px;
		
	}
	.alert-warning {
		background-color: #fff1bd;
		border-color: #ffe487;
	}
/* eof profile detail */

/* notifications */
.lbl.checkbox {
	width: auto;
	line-height: normal;
	color: #a3acb1;
    font-family: 'varelaregular';
	font-size: 0.875em;
	font-weight: normal;
	padding-left: 0;
	text-align: left;
}
	.lbl.checkbox input[type=checkbox] {
		float: left;
		margin: 0 10px 20px 0;
	}
/* eof notifications */

.styled-select {
	width: 100%;
	overflow: hidden;
	background: url(../img/selectBox-arrow.png) no-repeat 88% 50% #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccd6da;
	position: relative;
	padding: 0 5px 0 17px;
	background-position : calc(100% - 10px) 50%;
}

.styled-select select {
	width: 148%;
	height: 40px;
   	padding: 7px 0px;
   	margin: 0 0 0 -5px;
   	-webkit-appearance: none;
	transition: all 0.3s;
	-moz-transition: all 0.3s; 
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s; 
	float:left;
	border: 0px;
	color: #003045;
	background: transparent;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    font-size: 1em;
    font-family: 'varelaregular';
	text-align: left;
}
.slider {
	width: 940px;
	height: 275px;
	float: left;
	margin: 0;
	padding: 0;
	overflow: visible !important;
}
	.slider li {
		width: 940px;
		height: 275px;
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
	}
	.slider li img {
		max-height: 289px;
		width: auto !important;
		height: auto !important;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.slider li img.img-bottom-fix {
		left: auto;
		right: 0;
		bottom: -3px;
	}
.app-bg {
	width: 100%;
	height: 200px;
	float: left;
	background: #f5f1e8;
	margin: -25px 0 0 0;
	position: relative;
	z-index: 1;
}
.app-bg .container > div {
	float: none;
	display: inline-block;
}
.app-bg h3 { 
    font-family: 'achille_fy_lblack';
    font-weight: bold;
    color: #012e45;
    margin-top: 80px;
}
.btn-app-store {
	width: 131px;
	height: 45px;
	display: inline-block;
	background: url(../img/btn-app-store.jpg) no-repeat 0 0;
}
