html, body {
	height: 100%;
}
body {
	height: 100%;
	padding: 12px 0 43px 0;
}
a {
	text-decoration: none;
}
h2 {
	font-size: 1.8em;
	color: #003045;
	line-height: normal;
	font-weight: normal;
	margin: 17px 0;
}
h4 {
	font-size: 1.3em;
	color: #003045;
	line-height: normal;
	font-weight: normal;
}
h5 {
	color: #003045;

}
	h1.bold, h2.bold, h3.bold, h4.bold, h5.bold {
    	font-family: 'achille_fy_lblack';
	}
	h1.light, h2.light, h3.light, h4.light, h5.light {
    	color: #939ea4;
	}
	h1.thin, h2.thin, h3.thin, h4.thin, h5.thin {
   	 	font-family: 'varelaregular';
	}
    .h-white {
        color: #fff;
    }
p {
	color: #003045;
    font-family: 'varelaregular';
}
.light-blue {
	color: #acc1d2;
}
.row-full {
	width: 100%;
	float: left;
	clear: both;
}
.links {
	display: inline-block !important;
	margin: 0;
}
header .links {
	margin: 10px 10px 0 0;
}
.links > * {
	color: #a3acb1 !important;
	font-size: 0.9em;
	font-family: 'varelaregular';
	text-align: left !important;
	font-weight: normal;
	vertical-align: middle;
}
	.links * {
		color: #a3acb1;
	}
	.links > span.sep {
		margin: 10px 10px 5px 0;
	}
	.links a {
		text-decoration: underline;
	}
	.links a:hover {
		text-decoration: underline;
		color: #a3acb1 !important;
	}
.basket {
	min-width: 37px;
	height: 31px;
	float: right;
	background: url(../img/basket-icon.png) no-repeat 0 50%;
	margin: 5px 0px 0 0;
	position: relative;
}
	.basket span {
		float: right;
		padding: 0px 6px;
		margin: 5px 0 0 18px;
		color: #fff;
		background: #e96f24;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		font-size: 0.875em;
	}
header {
	min-width: 960px;
}
header nav {
	width: 100%;
	height: 70px;
	float: left;
	background: #f5f0e8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	margin: 15px 0 0 0;
	z-index: 100;
}
	header nav > * > * {
		position: static !important;
	}
	header nav ul {
		height: 70px;
		margin: 0;
		padding: 0;
		float: left;
	}
	header nav ul li {
		list-style: none;
		display: inline-block;
	}
		header nav ul li a {
			display: block;
			font-size: 1em;
			color: #879094;
			font-family: 'achille_fy_lregular';
		}
		header nav ul li.active a {
			color: #003045;
		}
			header nav ul.main-menu > li > a {
				height: 70px;
				line-height: 70px;
				position: relative;
				font-size: 1.15em;
			}
		header nav ul li .sub-menu {
			width: 100%;
			height: 56px;
			display: none;
			left: 0;
			top: 70px;
			position: absolute;
			background: #003045;
		}
			header nav ul li .sub-menu li a {
				color: #fff;
				margin: 15px 25px 0 0;
			}
			header nav ul li .sub-menu li:hover a,
			header nav ul li .sub-menu li.active a {
				color: #a98e63;
			}
				header nav ul li .sub-menu li:last-child a {
					margin-right: 0;
				}
	header nav ul.main-menu > li {
		margin-right: 55px;
	}
	header nav ul.main-menu > li:hover > a,
	header nav ul.main-menu > li.active > a {
		color: #003045;
	}
	header nav ul.main-menu > li:hover > a:before,
	header nav ul.main-menu > li.active > a:before {
		width: 14px;
		height: 14px;
		content: " ";
		position: absolute;
		border-bottom: 14px solid #003045;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		left: 0;
		right: 0;
		bottom: 0px;
		margin: 0 auto;
	}
	header nav ul.main-menu > li:hover .sub-menu,
	header nav ul.main-menu > li.active .sub-menu {
		display: block;
	}
header nav .search {
	width: 41%;
	margin: 15px 0 0 0;
}
.input-left {
	width: 80%;
	height: 40px;
	line-height: 40px;
	float: left;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.3);
	border: 0;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}
.input-left.bg-color {
	background-color: #f5f0e8;
}
.btn.btn-right {
	height: 40px;
	float: left;
	border: 0;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
header .input-left {
	float: right;
}
.btn-right.btn-search {
	width: 52px;
	float: right;
	background: url(../img/search-ico.png) no-repeat 50% #ba9967;
}

input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #acacac;
    font-size: 1em;
}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder,
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #acacac;
    font-size: 1em;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder,
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #acacac;
    font-size: 1.1em;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #acacac;
    font-size: 1em;
}

/* banner */
.banner {
	width: 100%;
	min-width: 960px;
	max-width: 960px;
	position: relative;
	text-align: center;
	margin: 0 auto;
	z-index: 2;
}
.banner > img {
	max-width: 100%;
	max-height: 100%;
}
.banner .banner-form {
	min-height: 300px;
	display: inline-block;
	background: #fff;
	margin: 80px auto;
	-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	text-align: left;
	padding: 0 25px 25px 25px;
}
	.banner .banner-form.login {
		min-width: 270px;
		max-width: 270px;
	}
	.banner .banner-form.standard {
		min-width: 270px;
		max-width: 270px;
	}
	.banner .banner-form.register {
		min-width: 612px;
		max-width: 612px;
	}
.txt-border {
	width: 100%;
	height: 40px;
	line-height: 40px;
	display: block;
	border: 1px solid #ccd6da;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
}
.blue-circle {
	width: 100px;
	height: 100px;
	position: absolute;
	background: #003045;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 25px;
	right: -80px;
	text-align: center;
	color: #fff;
	font-size: 0.95em;
	line-height: normal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 0;
}

/* eof banner */

.h-sep-small {
	width: 100%;
	float: left;
	margin: 10px 0 0 0;
}
.h-sep-medium {
	width: 100%;
	float: left;
	margin: 20px 0 0 0;
}
.h-sep-big {
	width: 100%;
	float: left;
	margin: 30px 0 0 0;
}

.pos-rel {
	position: relative;
}

/* buttons */
.btn {
	min-height: 40px;
	padding: 2px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: 'varelaregular';
}
	.btn:hover {
		text-decoration: none !important;
	}
	.btn.btn-orange {
		background: #e96f24;
		color: #fff;
		font-size: 1.375em;
		padding-left: 20px;
		padding-right: 20px;
    	font-family: 'varelaregular';
		padding-top: 4px;
	}
	.btn.btn-orange.btn-orange-light {
		background: #f6cdbb;
		color: #da5a0f;
	}
	.btn.btn-small.btn-orange.btn-orange-light {
		min-height: 29px;
    	font-family: 'varelaregular';
    	padding: 2px 15px 0 15px;
	}
    .btn.btn-orange-white {
        background: #fff;
        color: #de5819;
    }
    .btn.btn-small.btn-orange-white {
        min-height: 29px;
        font-family: 'varelaregular';
        padding: 2px 15px 0 15px;
        font-size: 1.35em;
    }
    .btn.btn-orange.btn-small {
        font-size: 1.4em;
    }
	.btn.btn-small {
		min-height: 29px;
    	font-family: 'varelaregular';
    	padding: 0 15px;
	}
		.btn.btn-blue {
			background: #003045;
			color: #fff !important;
			font-size: 1em;
			line-height: normal;
			vertical-align: middle;
		}
			a.btn.btn-blue {
				padding-top: 3px;
			}
			.btn.btn-blue.header {
		    	font-family: 'achille_fy_lregular';
		    	padding: 9px 19px;
				margin-top: -22px;
			}
	.btn.btn-gold {
		min-height: 0;
		background: #ba9967;
		color: #fff;
    	font-family: 'achille_fy_lregular';
    	padding: 9px 19px;
	}
		.btn.btn-gold.header {
			margin-top: -22px;
		}
		.btn.btn-gold.btn-small {
			min-height: 29px;
	    	font-family: 'varelaregular';
	    	padding: 3px 15px;
		}
	.btn.btn-dark-blue {
		background: #042335;
    	font-family: 'achille_fy_lregular';
    	color: #fff;
    	font-size: 1.5em;
	}
	.btn.btn-dark-blue.btn-logo {
		width: 100%;
		text-align: left;
    	font-family: 'achille_fy_lblack';
    	line-height: 49px;
    	padding: 9px 20px;
	}
		.btn.btn-dark-blue.btn-logo img {
			float: left;
			max-height: 49px;
			margin-right: 20px;
		}
	/* icon buttons */
		.btn-search-header {
			width: 30px;
			height: 41px;
			display: inline-block;
			background: url(../img/logged-header-ico.png) no-repeat 0 50%;
			margin-bottom: -5px;
			cursor: pointer;
			position: relative;
			padding-bottom: 10px;
		}
		.btn-account {
			width: 30px;
			height: 41px;
			display: inline-block;
			background: url(../img/logged-header-ico.png) no-repeat -49px 50%;
			margin-bottom: -5px;
			cursor: pointer;
			position: relative;
			padding-bottom: 10px;
		}
	/* eof icon buttons */

	/* header popover */
	.header-popover {
		float: left;
		position: absolute;
		z-index: 1000;
		right: -25px;
		top: 50px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 20px;
		display: none;
		-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.3);
		-moz-box-shadow: 0 0 20px rgba(0,0,0,0.3);
		box-shadow: 0 0 20px rgba(0,0,0,0.3);
	}
	.header-popover svg {
		-webkit-filter: drop-shadow( -5px -7px 5px rgba(0,0,0,0.3) );
        filter: drop-shadow( -5px -7px 5px rgba(0,0,0,0.3) );
	}
		.btn-search-header svg {
			position: absolute;
			top: -10px;
			right: 14px;
			fill: #042335;
		}
		.btn-account svg {
			position: absolute;
			top: -10px;
			right: 14px;
			fill: #fff;
		}
		.btn-search-header:hover .header-popover {
			width: 400px;
			background: #042335;
			display: block;
		}
		.btn-account:hover .header-popover {
			width: 270px;
			background: #fff;
			display: block;
		}
			.btn-search-header .header-popover .search-input {
				width: 100%;
				height: 38px;
				float: left;
				padding: 0 12px;
				background-color: #fff;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				border-radius: 2px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.header-popover .search-input input[type=text] {
				width: 90%;
				height: 38px;
				float: left;
				line-height: 38px;
				color: #92999f;
				border: 0px;
			}
			.btn-search-ico {
				width: 20px;
				height: 20px;
				float: right;
				background: url(../img/logged-header-ico.png) no-repeat 0 50%;
				background-size: 260%;
				margin: 8px 0 0 0 !important;
				border: 0;
				padding: 0;
			}
			.btn-account .header-popover ul {
				width: 100%:
				border-top: 1px solid #b1bec4;
				margin: 0;
				padding: 0;
			}
			.btn-account .header-popover ul li {
				width: 100%;
				height: 56px;
				float: left;
				list-style: none;
				border-bottom: 1px solid #b1bec4;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 0 10px;
				text-align: left;
			}
				.btn-account .header-popover ul li a {
					width: 100%;
					height: 56px;
					float: left;
					color: #052635;
					line-height: 56px;
    				font-family: 'achille_fy_lregular';
		    		background: url(../img/arrow-right.png) no-repeat 95% 50%;
				}
				.btn-account .header-popover ul li:hover {
					background: #052635;
				}
					.btn-account .header-popover ul li:hover a {
						color: #fff;
						text-decoration: none;
					}
	/* eof header popover */

/* eof buttons */

.banner .legend {
	min-height: 90px;
	float: none;
	display: inline-block;
	background: #ba9967;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: -70px 0 0 0;

}
.banner .legend > * {
	height: 90px;
	background: url(../img/legend-icons.png) no-repeat;
	text-align: left;
	color: #fff;
	vertical-align: middle;
	display: table;
	font-family: 'varelaregular';
}
	.banner .legend > * span {
		display: table-cell;
		vertical-align: middle;
	}
	.banner .legend .left {
		background-position: 10px 20px;
		padding-left: 70px;
	}
	.banner .legend .middle {
		background-position: 25px -122px;
		border-left: 2px dotted #fff;
		border-right: 2px dotted #fff;
		padding-left: 85px;
	}
	.banner .legend .right {
		background-position: 19px -265px;
		padding-left: 78px;
	}
.box-bottom {
	width: 100%;
	float: left;
	position: relative;
	z-index: 10;
}
.box-bottom.shadow {

	-webkit-box-shadow: inset 0 0 0 rgba(255,255,255,1), inset 00 0 rgba(255,255,255,1), inset 0 -40px 35px rgba(244,244,244,0.8);
	-moz-box-shadow: inset 0 0 0 rgba(255,255,255,1), inset 00 0 rgba(255,255,255,1), inset 0 -40px 35px rgba(244,244,244,0.8);
	box-shadow: inset 0 0 0 rgba(255,255,255,1), inset 0 0 0 rgba(255,255,255,1), inset 0 -40px 35px rgba(244,244,244,0.8);
	margin: 30px 0 0 0;
}
	p.quotes {
		background: url(../img/quotes.png) no-repeat 40px 0;
		padding-left: 27px;
		color: #003045;
		font-size: 1.5em;
		font-family: 'varelaregular';
	}
	p.quotes.pull-right {
		background-position: 45px 0;
	}
	.box-bottom.shadow p.quotes {
		margin-top: 50px;
	}
	.box-bottom.shadow p.quotes > span {
		font-size: 0.75em;
	}
.txt-highlight {
	color: #ba9967;
}
.img-bottom-fix {
	margin-bottom: -20px;
}
/* footer */
footer {
	width: 100%;
	min-width: 960px;
	min-height: 340px;
	float: left;
	background: #003045;
	padding: 40px 0 50px 0;
}
footer ul.small-arrow {
	margin: 0;
	padding: 0;
}
footer ul.small-arrow li {
	width: 100%;
	float: left;
	margin: 0 0 4px 0;
	padding: 0;
	list-style: none;
}
	footer ul.small-arrow li a {
		width: 100%;
		float: left;
		color: #fff;
		font-size: 0.875em;
		text-decoration: underline;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background: url(../img/list-small-arrow.png) no-repeat 0 50%;
		padding: 0 0 0 15px;
	}
.ideal {
	width: 35px;
	height: 30px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat 0 -7px;
	margin-right: 20px;
}
.mini-tix {
	width: 33px;
	height: 30px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -54px -7px;
	margin-right: 20px;
}
.my-order {
	width: 103px;
	height: 29px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -106px  -8px;
}
.hover-footer-link {
	opacity: 0.5;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.hover-footer-link:hover {
	opacity: 1;
}
footer h4 {
	color: #fff;
	margin: 0 0 15px 0;
	font-size: 1.1em;
}
footer span, footer p, footer a {
	color: #fff;
}
footer p {
	color: #fff;
	padding: 0;
	margin: 0;
}
p.help {
	padding: 0;
	vertical-align: top;
	padding-left: 60px;
	color: #fff;
}
p.help span {
	width: 55px;
	height: 41px;
	float: left;
	margin-left: -60px;
	background: url(../img/footer-icons-1.png) no-repeat -230px  -1px;
}
	p.help * {
		color: #fff;
		text-decoration: underline;
		vertical-align: top;
	}
.twitter {
	width: 44px;
	height: 43px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -303px  0px;
	margin-right: 19px;
}
.facebook {
	width: 44px;
	height: 43px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -366px  0px;
	margin-right: 19px;
}
.youtube {
	width: 44px;
	height: 43px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -428px  0px;
	margin-right: 19px;
}
.google {
	width: 44px;
	height: 43px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -491px  0px;
	margin-right: 19px;
}
.pinterest {
	width: 44px;
	height: 43px;
	float: left;
	background: url(../img/footer-icons-1.png) no-repeat -553px  0px;
}
.btn-right.btn-mail {
	width: 52px;
	background: url(../img/btn-mail.png) no-repeat 50% #ba9967;
}
footer .sep {
	width: 100%;
	height: 1px;
	float: left;
	border-top: 1px solid #33596a;
	margin: 30px 0 10px 0;
}
/* eof footer */


/* unfortunately */
.content-top-padding {
	width: 100%;
	float: left;
	padding-top: 100px;
}

h1.big {
	font-size: 3em;
	color: #003045;
    font-family: 'achille_fy_lblack';
    margin-bottom: 0px;
}
p.big-blue {
	color: #003045;
	font-size: 1.125em;
    font-family: 'achille_fy_lblack';
}
.btn-orange.big-top {
	margin-top: 70px;
}
h2.big {
    font-family: 'achille_fy_lblack';
    margin-bottom: 0px;
    line-height: 1.2em;
}
.lbl {
	width: 100%;
	height: 40px;
	display: inline-block;
	color: #003045;
	line-height: 40px;
    font-family: 'varelaregular';
    font-size: 1em;
}
	.lbl.font {
    	font-family: 'varelaregular';
	}
	.lbl.normal {
		text-align: left;
	}
	.lbl.account {
		line-height: 90px;
	}
	.lbl a {
		color: #84c2ea;
		float: none;
	}
	.lbl a:hover {
		text-decoration: underline;
	}
.line-sep-gray {
	width: 100%;
	float: left;
	height: 1px;
	border-top: 1px solid #ccd6da;
	margin: 15px 0 10px 0;
}
p.gray {
	color: #a3acb1;
	font-size: 0.875em;
    font-family: 'varelaregular';
}
/* eof unfortunately */

/* profile detail */
	div.alert span {
		color: #000;
	}
	div.alert p.gray {
		color: #9a9a9a;
	}
	.btn.btn-black-border {
		border: 1px solid #000;
		color: #333;
		background: transparent;
		padding: 8px 10px;

	}
	.alert-warning {
		background-color: #fff1bd;
		border-color: #ffe487;
	}
/* eof profile detail */

/* notifications */
.lbl.checkbox {
	width: auto;
	line-height: normal;
	color: #a3acb1;
    font-family: 'varelaregular';
	font-size: 0.875em;
	font-weight: normal;
	padding-left: 0;
	text-align: left;
}
	.lbl.checkbox.normal {
		color: #003045;
		vertical-align: top;
		padding: 0;
		margin: 0;
		line-height: 1.2em;
	}
	.lbl.checkbox input[type=checkbox] {
		float: left;
		margin: 0 10px 20px 0;
	}
/* eof notifications */

.styled-select {
	width: 100%;
	overflow: hidden;
	background: url(../img/selectBox-arrow.png) no-repeat 88% 50% #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccd6da;
	position: relative;
	padding: 0 5px 0 17px;
	background-position : calc(100% - 10px) 50%;
	vertical-align: middle;
}

.styled-select select {
	width: 170%;
	height: 40px;
   	padding: 0;
   	margin: 0 0 0 -5px;
   	-webkit-appearance: none;
	transition: all 0.3s;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	float:left;
	border: 0px;
	color: #003045;
	background: transparent;
    border: 0 none;
    border-radius: 0;
    cursor: pointer;
    font-size: 1em;
    font-family: 'varelaregular';
	text-align: left;
}
@-moz-document url-prefix() {
	.styled-select select {
	   	padding: 5px 0 0 0;
	}
}
.slider {
	width: 940px;
	height: 275px;
	float: left;
	margin: 0;
	padding: 0;
	overflow: visible !important;
}
	.slider li {
		width: 940px;
		height: 275px;
		float: left;
		list-style: none;
		margin: 0;
		padding: 0;
		position: relative;
	}
	.slider li img {
		max-height: 289px;
		width: auto !important;
		height: auto !important;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	.slider li img.img-bottom-fix {
		left: auto;
		right: 0;
		bottom: -3px;
	}
.app-bg {
	width: 100%;
	height: 200px;
	float: left;
	background: #f5f1e8;
	margin: -25px 0 0 0;
	position: relative;
	z-index: 1;
}
.app-bg .container > div {
	float: none;
	display: inline-block;
}
.app-bg h3 {
    font-family: 'achille_fy_lblack';
    font-weight: bold;
    color: #012e45;
    margin-top: 80px;
}
.btn-app-store {
	width: 131px;
	height: 45px;
	display: inline-block;
	background: url(../img/btn-app-store.jpg) no-repeat 0 0;
}

/* validation */
div.error, div[class*=" error-"] {
	background: #f79f9e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 10px;
}
	div.error label.error, div[class*=" error-"] label.error {
		width: 100%;
		float: left;
		color: #fff;
    	font-family: 'varelaregular';
    	font-size: 0.7em;
 		padding: 3px 0 3px 8px;
 		margin: 0;
 		position: relative;
		font-size: 0.85em;
	}
		div[class*=" error-"] label.error {
			padding-left: 23px;
			padding-right: 23px;
		}
		div.error label.error:before, div[class*=" error-"] label.error:before {
			content: "\2022";
			left: 0px;
			position: absolute;
		}
			div[class*=" error-"] label.error:before {
				left: 15px;
			}
/* eof validation */

.panel.active + .wrap .menu-link {
	visibility: hidden;
}

/* logged header */
	.logged-icons *[class*=btn] {
		margin-right: 15px;
	}
/* eof logged header */

.filter-lists {
	width: 100%;
	z-index: 100;
	position: relative;
	margin-bottom: 20px;
}
.filter-lists .list {
	width: auto;
	height: 50px;
	display: inline-block;
	margin: 0;
	padding: 0;
}
	.filter-lists .list li {
		float: left;
		height: 50px;
		margin-left: 30px;
		line-height: 50px;
		list-style: none;
		vertical-align: middle;
	}

	.filter-lists .list li:first-child {
		margin-left: 0;
	}
		.filter-lists .list li .sub-list {
			max-width: 100%;
			position: absolute;
			height: 0;
			opacity: 0;
			overflow: hidden;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			transition: all 0.4s ease;
			-webkit-box-shadow: 0 -10px 25px rgba(0,0,0,0.04), 0 0 25px rgba(0,0,0,0.3);
			-moz-box-shadow: 0 -10px 25px rgba(0,0,0,0.04), 0 0 25px rgba(0,0,0,0.3);
			box-shadow: 0 -10px 25px rgba(0,0,0,0.04), 0 0 25px rgba(0,0,0,0.3);
			background: #fff;
			margin: 0 0 0 -100px;
			float: left;
		}
		.filter-lists .list li > a {
			display: inline-block;
			background: url(../img/filter-list-arrows.png) no-repeat 100% 120%;
			padding-right: 24px;
			color: #94989b;
			background-clip: border-box;
			line-height: normal;
			position: relative;
			z-index: 101;
		}
		.filter-lists .list li > a.active {
			background-position: 100% -35% ;
			color: #002536;
		}
		.filter-lists .list li > a:hover {
			text-decoration: none;
		}
			.filter-lists .list li:hover > a:after {
				width: 56px;
				height: 10px;
				content: " ";
				position: absolute;
				left: 0;
				right: 0;
				bottom: -17px;
				margin: 0 auto;
				border-bottom: 10px solid #fff;
				border-left: 28px solid transparent;
				border-right: 28px solid transparent;
			}
			.filter-lists .list li:hover > .sub-list {
				height: 440px;
				opacity: 1;
			}
			.filter-lists .list li .sub-list .list-box {
				width: 230px;
				float: left;
				margin: 20px 0 20px 20px;
			}
				.filter-lists .list li .sub-list .list-box:last-child {
					margin-right: 20px;
				}
			.filter-lists .list li .sub-list a {
				width: 230px;
				height: 57px;
				float: left;
				border-bottom: 1px solid #b7bbbc;
				color: #06242c;
				text-align: left;
				padding: 0 0 0 10px;
				background: url(../img/arrow-right.png) no-repeat 95% 50%;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
    			font-family: 'achille_fy_lregular';
			}
				.filter-lists .list li .sub-list a:hover {
					text-decoration: none;
				}
				.filter-lists .list li .sub-list a:first-child {
					border-top: 1px solid #b7bbbc;
				}
				.filter-lists .list li .sub-list a.active {
					background-color: #042335;
					color: #fff;
				}
.categories figure .img-wrapper {
	width: 100%;
	height: 100px;
	float: left;
	position: relative;
}
	.categories figure {
		width: 100%;
		float: left;
		border: 1px solid #d1d2d4;
		margin: 0 0 20px 0;
		padding-bottom: 20px;
	}
	.categories figure .img-wrapper h3 {
		position: absolute;
		bottom: 12px;
		left: 15px;
    	font-family: 'achille_fy_lblack';
    	color: #fff;
	}
	.categories figure .img-wrapper img {
		max-width: 100%;
		max-height: 100%;
	}
	.categories figure ul {
		padding: 0px;
		margin: 20px;
	}
	.categories figure ul li {
		width: 100%;
		float: left;
		list-style: none;
		padding: 0;
		margin: 0 0 10px 0;
	}
	.categories figure ul li a {
		width: 100%;
		float: left;
		background: url(../img/arrow-right.png) no-repeat 100% 50%;
		font-family: 'achille_fy_lregular';
    	color: #072734;
    	font-size: 1.1em;
   	}
   		.categories figure figcaption a {
   			color: #a89060;
			font-family: 'achille_fy_lregular';
			position: relative;
			padding-left: 10px;
			margin: 0 0 0 20px;
   		}
   		.categories figure figcaption a:before {
   			content: "»";
   			position: absolute;
   			left: 0;
   			top: 0;
   		}
.right-placeholder {
	width: 100%;
	float: left;
	min-height: 755px;
	background: #ced3d7;
}
.filter-overflow {
	width: 100%;
	height: 0;
	top: 210px;
	float: left;
	background: #fff;
	opacity: 0;
	position: fixed;
	left: 0;
	z-index: 99;
	overflow: hidden;
	-webkit-transition: opacity 0.4s ease;
	-moz-transition: opacity 0.4s ease;
	transition: opacity 0.4s ease;
	transition-delay: 0.6s;
	-webkit-transition-delay: 0.6s /* Safari */
}
.filter-lists.hovered + .filter-overflow {
	height: 100%;
	opacity: 0.5;
}

.sub-categories figure .img-wrapper {
	width: 100%;
	height: 86px;
	float: left;
	position: relative;
}
	.sub-categories figure {
		width: 100%;
		float: left;
		margin: 0 0 20px 0;
	}
	.sub-categories figure .img-wrapper h3 {
		position: absolute;
		bottom: 5px;
		left: 15px;
    	font-family: 'achille_fy_lblack';
    	color: #fff;
	}
	.sub-categories figure .img-wrapper img {
		max-width: 100%;
		max-height: 100%;
	}
.link-back, .link-back:hover {
	float: left;
	padding-left: 18px;
	background: url(../img/arrow-left.jpg) no-repeat 0 50%;
	font-family: 'achille_fy_lregular';
	font-weight: normal;
	font-size: 0.65em;
	color: #062539;
	text-decoration: none;
	margin-top: 5px;
}
/* product details */
.product-details .img-wrapper {
	width: 100%;
	max-height: 282px;
	min-height: 282px;
	position: relative;

}
	.product-details .img-wrapper img {
		width: auto;
		max-width: 100%;
		max-height: 100%;
		min-height: 100%;
	}
	.product-details .img-footer {
		width: 100%;
		float: left;
		background: #efe6dd;
		padding: 4px 10px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
	.img-wrapper .promo-discount {
		float: left;
		padding: 16px 5px;
		position: absolute;
		top: 0px;
		left: 0px;
		background: #042335;
		color: #fff;
    	font-family: 'achille_fy_lblack';
		text-align: center;
		line-height: 1.1em;
	}
.clear-top {
	margin-top: 0;
}
.clear-bottom {
	margin-bottom: 0;
}
.product-details {
   font-family: 'varelaregular';
   color: #032531;
   font-size: 1em;
}
.product-details h4, .product h4 {
	font-size: 1.2em;
}
.product-details ul {
	padding: 0;
	margin: 0;
}
	.product-details ul li {
		list-style-position: inside;
		margin-bottom: 5px;
	}
	.list-text {
		line-height: 1.8em;
	}
.price-detail {
	width: 100%;
	float: left;
	color: #e15f25;
    font-family: 'achille_fy_lblack';
    font-size: 2.4em;
    text-align: right;
}
	.price-detail sub {
		color: #003045;
		position: relative;
		bottom: 0px;
		font-size: 0.45em;
		text-decoration: line-through;
	}
	.img-footer-ico {
		width: 30px;
		height: 30px;
		display: inline-block;
		background: url(../img/product-detail-ico.png) no-repeat 0 0;
		margin-top: 5px;
	}
	.img-footer-ico.clock {
		margin-top: 6px;
		background-position: 0 -35px;
	}
	.img-footer-ico.libra {
		background-position: -40px -35px;
		margin-top: 6px;
		margin-left: 10px;
	}
	.img-footer-ico.img1 {
		width: 30px;
		height: 30px;
		background-position: 0 -70px;
	}
	.img-footer-ico.img2 {
		width: 30px;
		height: 30px;
		background-position: -40px -70px;
		margin-left: 10px;
	}
	.border-box{
		width: 100%;
		float: left;
		border: 1px solid #ccd0d1;
		padding: 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.light-blue-box {
		width: 100%;
		display: inline-block;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: #e5e9ea;
	}
	.img-box-wrapper {
		float: left;
		border: 1px solid #d0d1d3;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		text-align: center;
  	 	font-family: 'varelaregular';
  	 	padding-top: 10px;
	}
	.img-box-wrapper span, .img-box-wrapper span:hover {
		width: 100%;
		float: left;
		padding: 5px 0;
		color: #003045;
	}
	.text {
		font-size: 1em;
	}
	.link-edit {
		width: 26px;
		height: 26px;
		float: left;
		margin: 10px 15px 0 0;
		background: url(../img/product-detail-ico.png) no-repeat 0 0;
	}
	.link-like {
		width: 26px;
		height: 26px;
		float: left;
		margin: 10px 15px 0 0;
		background: url(../img/product-detail-ico.png) no-repeat 93% 0;
	}
.tool-tip {
	position: relative;
    text-decoration: none;
}
.tool-tip:hover:after{
    /*background-color: #fff;*/
    /*border-radius: 5px;*/
    /*bottom: 40px;*/
    /*color: #003045;*/
    /*content: attr(title);*/
    /*left: -20px;*/
    /*padding: 10px 15px;*/
    /*position: absolute;*/
    /*z-index: 98;*/
    /*width: 220px;*/
    /*border: 1px solid #003045;*/
    /*text-decoration: none;*/
}
	.tool-tip:hover:before {
        width: 15px;
        height: 15px;
        content: "";
        position: absolute;
        border: 1px solid #003045;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg) skew(-20deg, -20deg);
        transform: rotate(45deg) skew(-20deg, -20deg);
        z-index: 99;
        top: -20px;
        left: 5px;
        border-top: 0;
        border-left: 0;
	}
    .tool-tip.bottom-arrow:hover:before {
        width: 15px;
        height: 15px;
        content: "";
        position: absolute;
        border: 1px solid #003045;
        background: #fff;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg) skew(-20deg, -20deg);
        transform: rotate(45deg) skew(-20deg, -20deg);
        z-index: 99;
        top: auto;
        bottom: -18px;
        left: 5px;
        border-bottom: 0;
        border-right: 0;
    }

/* eof product details */

/* product */
.product {
	width: 100%;
	height: 369px;
	border: 1px solid #ccd0d1;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 0.9em;
	margin-bottom: 20px;
}
	.product.disabled:after {
		width: 100%;
		height: 100%;
		content: "";
		display: block;
		position: absolute;
		background: #fff;
		opacity: 0.7;
		left: -1px;
		top: -1px;
	}
		.product.disabled .btn.btn-orange {
			background: #666;
		}
	.product-banner {
		width: 100%;
		height: 369px;
		float: left;
	}
	.product h3 {
		font-size: 1.5em;
		margin: 10px 0 8px 0;
		line-height: 1.3em;
	}
	.product h5 {
		margin: 0;
	}
	.product .img-wrapper, .product-banner .img-wrapper {
		width: 100%;
		float: left;
		text-align: center;
		position: relative;
	}
	.product-banner .img-wrapper {
		height: 369px;
	}
	.product .img-wrapper .like {
		width: 24px;
		height: 26px;
		float: left;
		position: absolute;
		background: url(../img/product-detail-ico.png) no-repeat 88% 0;
		right: 8px;
		top: 11px;
		opacity: 0.3;
	}
	.product .img-wrapper .like.active {
		opacity: 1;
	}
	.product-banner .img-wrapper img {
		max-width: 100%;
	}
	.product .img-wrapper img {
		max-width: 100%;
		margin-top: 26px;
	}
	.product-banner .img-wrapper .btn-apsolute {
		position: relative;
		bottom: 47px;
		z-index: 100;
		margin: 0 14px;
		left: 0;
	}
	.img-wrapper .promo-box {
		float: left;
		padding: 16px 5px;
		position: absolute;
		top: 0px;
		left: -5px;
		background: #042335;
		color: #fff;
    	font-family: 'achille_fy_lblack';
		text-align: center;
		line-height: 1.1em;
		font-size: 1.15em;
		display: none;
	}
	.product.promo .promo-box {
		display: block;
	}
	.product .styled-select {
		padding-left: 6px;
		padding-top: 0px;
	}
	.product .styled-select select {
		height: 30px;
	}
	.left-fix {
		padding-right: 20px;
	}
	.select-fix {
		padding-right: 0;
	}
.product .price {
	width: 100%;
	float: left;
	color: #003045;
    font-family: 'achille_fy_lblack';
    font-size: 2.2em;
    text-align: right;
}
.product .price.discount {
	color: #e15f25;
}
	.product .price sub{
		display: none;
    	font-family: 'achille_fy_lregular';
	}
	.product .price.discount sub {
		color: #003045;
		position: relative;
		bottom: 0px;
		font-size: 0.45em;
		text-decoration: line-through;
		display: inline-block;
	}
.product .basket {
	min-width: 35px;
	margin-top: -2px;
	background: url(../img/product-basket-ico.png) no-repeat 0 50%;
}
	.product .basket.discount {
		background: url(../img/basket-icon-discount.png) no-repeat 0 50%;
	}
	.product .basket.discount span {
		margin: 10px 0 0 0px;
		padding: 0 5px;
		text-align: center;
		background: #e96f24;
	}
	.product .basket span {
		margin: 10px 0 0 0px;
		padding: 0 5px;
		text-align: center;
		background: #012533;
	}
	.product.in-cart {
		display: block;
	}
.product .product-title {
	min-height: 70px;
}
/* eof product */

/* filter steps */
.validation-states-wrapper {
	width: 100%;
	float: left;
	position: relative;
	margin-bottom: 20px;
}
	.validation-states-wrapper:after {
		width: 100%;
		height: 1px;
		content: " ";
		left: 0;
		border-top: 5px solid #ced3d7;
		top: 64px;
		z-index: 1;
		position: absolute;
		display: block;
	}
.validation-states {
	width: 100%;
	display: table;
	list-style: none;
	padding: 0;
	margin: 15px 0 0px 0;
	position: relative;
	table-layout: fixed;
}
	.validation-states li {
		display: table-cell;
		text-align: center;
	}
	.validation-states li span {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.validation-states li .step {
		width: 26px;
		height: 26px;
		display: inline-block;
		border: 2px solid #d1d5d8;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		background: #fff;
		position: relative;
		z-index: 3;
		top: 4px;
		display: inline-block;
	}

	.validation-states li.active .step {
		width: 36px;
		height: 36px;
		border: 5px solid #052c3d;
		-webkit-border-radius: 22px;
		-moz-border-radius: 22px;
		border-radius: 22px;
		background: #fff;
		top: 0;
	}
	.validation-states li.completed .step {
		width: 26px;
		height: 26px;
		display: inline-block;
		border: 2px solid #052c3d;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 12px;
		top: 4px;
		background: url(../img/verification-step-complete.jpg) no-repeat 50% #052c3d;
	}
	.validation-states li.active:before {
		width: 100%;
		max-width: 50%;
		height: 1px;
		content: " ";
		left: 0;
		border-top: 5px solid #052c3d;
		top: 49px;
		z-index: 2;
		position: relative;
		display: block;
	}
	.validation-states li.completed:before {
		width: 100%;
		max-width: 100%;
		height: 1px;
		content: " ";
		left: 0;
		border-top: 5px solid #052c3d;
		top: 49px;
		z-index: 2;
		position: relative;
		display: block;
	}
	.inline-blick {
		display: inline-block;
	}
	.validation-states li .name {
		width: 100%;
		display: block;
		clear: both;
		font-weight: bold;
   	 	font-family: 'achille_fy_lblack';
   	 	font-size: 1.2em;
   	 	margin-bottom: 5px;
   	 	color: #d6dadd;
	}
	.validation-states li.active .name,
	.validation-states li.completed .name {
   	 	color: #052c3d;
	}
	.validation-states li .status {
		width: 100%;
		display: none;
		clear: both;
		font-weight: bold;
   	 	font-size: 1em;
   	 	margin: 5px 0 30px 0;
   	 	color: #052c3d;
	}
	.validation-states li.completed .status {
		display: block;
	}
	.validation-states li.completed + li.active:before {
		width: 100%;
		max-width: 100%;
		left: -50%;
	}
	.page {
		width: 646px;
		margin: 0 auto;
    }
    .page-big {
        width: 800px;
        margin: 0 auto;
    }
    .page-middle {
        width: 730px;
        margin: 0 auto;
    }
	.page-small {
		width: 480px;
		margin: 0 auto;
    }
	.validation-states.two li:first-child .step {
		margin-left: 30%;
	}
	.validation-states.two li:last-child .step {
		margin-right: 30%;
	}
	.validation-states.two li:first-child.active:before {
		max-width: 60%;
	}
	.validation-states.two li:last-child.active:before {
		max-width: 80%;
	}
	.validation-states.two li:first-child .name,
	.validation-states.two li:first-child .status {
		padding-left: 30%;
	}
	.validation-states.two li:last-child .name,
	.validation-states.two li:last-child .status {
		padding-right: 30%;
	}
/* eof filter steps */

/* offering-steps */
.styled-arrow {
	width: 21px;
	height: 107px;
	display: block;
	background: url(../img/styled-arrow-bottom.jpg) no-repeat 0 0;
	left: -45px;
	top: 30px;
	position: absolute;
}
.blue-box {
	width: 100%;
	float: left;
	background: #042335;
	padding: 15px 0;
}
	.blue-box h2, .blue-box h4 {
		color: #fff;
	}

.table {
	width: 100%;
	float: left;
	position: relative;
}
	.table, .table * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.table .cell {
		height: 49px;
		text-align: center;
		line-height: 49px;
    	font-family: 'varelaregular';
	}
	.table .cell.header {
		color: #003045;
		font-size: 1.1em;
	}
	.table .cell.empty {
		background: #e5e9ea;
		color: #003045;
		position: relative;
	}
		.table .cell.empty:after {
			width: 100%;
			height: 49px;
			content: "-";
			color: #003045;
			text-align: center;
			line-height: 49px;
		}
	.table .cell.active {
		background: #042335;
		color: #fff;
		font-size: 1.1em;
	}
	.table .cell.gratis {
		background: #e1591b;
		color: #fff;
		font-size: 1.1em;
	}
.table .left-col {
	width: 23%;
	display: inline-block;
	float: left;
}
.table .right-col {
	width: 77%;
	display: inline-block;
	float: left;
}

	.table .left-col .cell {
		border: 1px solid #d0d4d3;
		border-bottom: 0px;
	}
	.table .left-col .cell:last-child {
		border-bottom: 1px solid #d0d4d3;
	}
		.table .right-col .simple-col {
			width: 20%;
			float: left;
		}
	.simple-col .cell {
		width: 100%;
		float: left;
		border: 1px solid #d0d4d3;
		border-bottom: 0px;
		border-left: 0px;
		display: block;
	}
	.table .right-col .cell:last-child {
		border-bottom: 1px solid #d0d4d3;
	}
	.table .table-left {
		width: 17px;
		height: 28px;
		float: left;
		position: absolute;
		background: url(../img/table-arrows.jpg) no-repeat 0 -47px;
		left: -80px;
		top: 200px;
	}
		.table .table-left.disabled {
			background-position: 0 0;
		}
	.table .table-right {
		width: 17px;
		height: 28px;
		float: left;
		position: absolute;
		background: url(../img/table-arrows.jpg) no-repeat 0 -138px;
		right: -80px;
		top: 200px;
	}
		.table .table-right.disabled {
			background-position: 0 -93px;
		}
	.table .link-hours-back {
		background: url(../img/small-arrows-left.jpg) no-repeat 0 -28px;
		padding-left: 15px;
		color: #003045;
	}
	.table .link-hours-back.disabled {
		background: url(../img/small-arrows-left.jpg) no-repeat 0 4px;
		color: #d7d7d7;
	}
/* eof offering-steps */

/* landing page */

.landing-slide {
    width: 200px;
    height: 116px;
    float: left;
    margin: 0;

}
    .landing-slide > div {
        width: 25%;
        height: 116px;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: center;
        line-height: 116px;
    }
.box-white {
    width: 100%;
    float: left;
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    z-index: 10;
}
.box-white .header {
    margin-bottom: 10px;
}
.box-white.first-box {
    margin-top: -110px;
    padding: 25px;
}
.banner-img-wrapper {
    width: 100%;
    height: 200px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 25px;
}
.banner-img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
}
.banner-img-wrapper * {
    position: relative;
    z-index: 10;
}
.banner-img-wrapper h1 {
    line-height: 1.3em;
}
/* eof landing page */

/* checkout */

.checkout-table {
	width: 100%;
	float: left;
	border: 1px solid #c2cece;
    font-size: 1.1em;
    font-family: 'achille_fy_lregular';
	color: #003045;
}
	.checkout-table. .checkout-table * {
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;c
	    box-sizing: border-box;
	    float: left;
	}
	.checkout-table strong {
		font-family: 'achille_fy_lblack';
	}
	.checkout-table .header {
		width: 100%;
		float: left;
		padding: 10px;
	    border-bottom: 1px solid #c2cece;
	    vertical-align: top;
	}
		.checkout-table .header.warning {
			background: #d3322a;
			color: #fff;
		}
		.checkout-table .header .ico {
			height: 16px;
			float: left;
			background: url(../img/checkout-icons.jpg) no-repeat -5px 0px;
			padding-left: 19px;
			margin-top: 4px;
			display: inline-block;
		}
		.checkout-table .header .ico-questionmark {
			height: 20px;
			float: right;
			background: url(../img/checkout-icons.jpg) no-repeat 0 -160px;
			padding: 4px 0 0 21px;
			display: inline-block;
		}
		.checkout-table .header.warning .ico {
			background: url(../img/checkout-icons.jpg) no-repeat -5px -239px;
		}
		.checkout-table .header.warning .ico-questionmark {
			background: url(../img/checkout-icons.jpg) no-repeat 0 -200px;
		}
		.checkout-table .header .time {
			float: left;
			display: inline-block;
			padding-top: 1px;
		}
		.table-content {
			width: 100%;
			float: left;
			padding: 19px;
		}
		.right-basket.active .table-content {
			width: 100%;
			float: left;
			padding: 19px;
		}
.checkout-table.right-basket .table-content {
	padding: 0;
}
.sort-filter {
	width: 100%;
	float: left;
	background: #ced3d7;
	padding: 12px 10px;
}
	.sort-filter a, .sort-filter a:hover {
		width: 100%;
		display: block;
		color: #003045;
		text-decoration: none;
		font-size: 0.85em;
		background: url(../img/filter-list-arrows.png) no-repeat 99% 5px;
	}

.category-header {
	width: 100%;
	height: 28px;
	float: left;
	border-bottom: 1px solid #c3ccd1;
	line-height: 28px;
	color: #003045;
	font-size: 0.85em;
	padding: 0 9px;
}
.table-content .item-row {
	width: 100%;
	float: left;
	padding: 19px 0;
	border-bottom: 1px solid #c3ccd1;
}
	.table-content .item-row p {
		font-size: 0.8em;
	}
    .right-basket .item-row .expand > div:first-of-type .desc p {
        margin: 0;
    }
    .right-basket .item-row .expand > div .desc p {
        margin-top: 20px;
    }
	.table-content .img-wrapper {
		width: 11%;
		height: 78px;
		float: left;
		border: 1px solid #c7d1d0;
		margin-right: 10px;
		text-align: center;
		padding: 0;
		overflow: hidden;
	}
		.table-content .img-wrapper img {
			margin: 0;
			display: inline-block;
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	.table-content .desc {
		width: 32%;
		float: left;
		margin-right: 10px;
	}
	.table-content .list-small {
		width: 11%;
		float: left;
		margin-right: 10px;
	}
	.table-content .list-big {
		width: 21%;
		float: left;
	}
	.table-content .price {
		width: 19%;
		height: 40px;
		float: left;
		position: relative;
	}
		.table-condensed .price.discount {
			line-height: normal;
		}
		.table-content .price span {
			margin-right: 15px;
		}
		.table-content .price text {
			width: 100%;
			display: inline-block;
			clear: both;
			font-family: 'achille_fy_lblack';
			font-size: 1.1em;
			text-align: right;
			line-height: normal;
			line-height: 40px;
		}
		.table-content .price.discount text {
			color: #dd6121;
			line-height: normal;
		}
			.table-content .price text:first-of-type {
				visibility: hidden;
			}
            .checkout-table.table-big .table-content .price text:first-of-type {
                display: none;
            }
            .checkout-table.table-big .table-content .price.discount text:first-of-type {
                display: block;
            }
			.table-content .price.discount text:first-of-type {
    			font-family: 'achille_fy_lregular';
				font-size: 1em;
				visibility: visible;
			}
		.table-content .price sub {
			display: none;
		}
		.table-content .price.discount sub {
			position: absolute;
			right: 60%;
			bottom: 10px;
			display: block;
		}
	.btn-cancel {
		width: 10px;
		height: 10px;
		display: inline-block;
		background: url(../img/cancle-btn.png) no-repeat 0 0;
		margin: 15px 0 0 0;
	}
	.total-price {
    	font-family: 'varelaregular';
    	padding-right: 4.8%;
	}
		.total-price li {
			width: 100%;
			float: left;
			list-style: none;
			margin: 15px 0 0 0;
			vertical-align: bottom;
		}
			.total-price li .questionmark {
				background: url(../img/checkout-icons.jpg) no-repeat 0 -160px;
				padding-left: 35px;
			}
			.total-price li strong {
				padding-right: 2.5%;
			}
			.total-price li input[type=text],
			.total-price li .styled-select {
				height: 28px;
				line-height: 28px;
    			font-family: 'varelaregular';
    			color: #003045;
    			text-align: right;
			}

			.total-price li .styled-select select {
				height: 28px;
				padding: 2px 0;
				line-height: normal;
			}

		.total-price li strong {
			float: left;
			font-size: 1.1em;
		}
		.total-price li span {
			float: left;
			font-size: 1em;
			vertical-align: middle;
		}
.checkout-finish {
	width: 100%;
	min-width: 900px;
	height: 60px;
	line-height: 60px;
	display: block;
	position: fixed;
	top: 60%;
	left: 0;
	right: 0;
	background: #042335;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 23px 0 80px;
    vertical-align: middle;
    z-index: 106;
}
	.checkout-finish.small {
		height: 43px;
		line-height: 43px;
		top: auto;
		bottom: 0;
	}
	.checkout-finish * {
		color: #fff;
		display: inline-block;
    	vertical-align: middle;
	}
	.checkout-finish .cal {
		display: inline-block;
		height: 21px;
		padding-left: 30px;
		background: url(../img/checkout-icons.jpg) no-repeat -1px -80px;
    	font-family: 'varelaregular';
    	line-height: 21px;
    	margin-right: 20px;
	}
	.checkout-finish .time {
		display: inline-block;
		height: 20px;
		padding-left: 30px;
		background: url(../img/checkout-icons.jpg) no-repeat -1px -122px;
    	font-family: 'varelaregular';
    	line-height: 20px;
    	margin-right: 20px;
	}
	.checkout-finish .shiping {
		display: inline-block;
		height: 17px;
		padding-left: 30px;
		background: url(../img/checkout-icons.jpg) no-repeat 0px -39px;
    	font-family: 'varelaregular';
    	line-height: 17px;
    	margin-right: 20px;
	}
	.checkout-finish .btn {
		margin-top: 10px;
	}
	.checkout-finish.small .btn {
		margin-top: 7px;
	}
	.checkout-finish .total-price {
		font-size: 1.2em;
    	font-family: 'achille_fy_lregular';
	}
		.checkout-finish .total-price strong {
			margin-left: 15px;
    		font-family: 'achille_fy_lblack';
		}
        .checkout-finish.small .total-price strong {
            margin-left: 40px;
        }
        .checkout-finish.small .total-price {
            padding-right: 1%;
        }
/* checkout */

.right-basket {
	width: 100%;
	min-height: 600px;
	float: right;
	border: 1px solid #c2cece;
	padding: 0px 9px 9px 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -moz-transition-property: width, translateZ(0);
    -webkit-transition-property: width, translateZ(0);
    transition-property: width, translateZ(0);
    -moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	z-index: 105;
	position: relative;
}
	.right-basket.active {
		width: 475px;
	}
	.row-right {
    	margin-right: -10px;
	}
	.right-basket h4 {
		border-bottom: 1px solid #c2cece;
		padding-bottom: 15px;
	}
		.right-basket h4.cart-header{
			width: 100%;
			display: inline-block;
			margin-top: 15px;
			border: 0;
		}
		.right-basket h4 a, .right-basket h4 a:hover {
			color: #032236;
			text-decoration: none;
		}
		.cart-trigger .ico {
			float: left;
			height: 20px;
			padding-left: 18px;
			background: url(../img/small-arrows-left.jpg) no-repeat 0 100%;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			transition: all 0.5s;
		}
		.right-basket.active .cart-trigger .ico {
			background: url(../img/small-arrows-left.jpg) no-repeat 8px 134%;
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	.right-basket > p {
		height: 100%;
		vertical-align: middle;
    	font-family: 'achille_fy_lregular';
    	text-align: center;
    	font-size: 0.9em;
    	padding-top: 50%;
	}
	.cart-overflow {
		width: 100%;
		height: 0;
		float: left;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: fixed;
		z-index: 104;
		background: #000;
		opacity: 0;
		-webkit-transition: opacity 1s;
		-moz-transition: opacity 1s;
		transition: opacity 1s;
	}
	.cart-overflow.active {
		height: 100%;
		visibility: visible;
		opacity: 0.3;
	}
	.pos-basket {
		z-index: 105;
	}
	.right-basket .header .time {
		width: 76%;
		height: 23px;
		position: relative;
		overflow: hidden;
	}
	.right-basket.active .header .time {
	}
		.right-basket .header .time > span {
			position: absolute;
			left: -155px;
		}
		.right-basket.active .header .time > span {
			left: 0;
		}
	/*.right-basket .header .time text {
		width: 100%;
		height: 23px;
		float: right;
		left: -155px;
		position: relative;
		-webkit-transform: left 1s;
		-moz-transform: left 1s;
		transform: left 1s;
	}*/
	.right-basket.active .header .time text {
		right: 0;
	}
	.right-basket .header .time text strong {
		position: relative;
		float: right;
		right: -10%;
		top: -20px;
		right: -15%;
	}
	.right-basket.active .header .time text {
		left: 0;
	}
	.right-basket .table-content .item-row {
		padding: 10px;
		overflow: hidden;
	}
	.right-basket .item-row .desc {
		width: 27%
	}
		.right-basket .item-row .price span {
			margin: 0;
		}
	.right-basket .item-row .desc h5 {
		margin-bottom: 5px;
	}
	.right-basket .item-row .price {
		width: 17%;
		font-size: 0.9em;
		-webkit-transition: width 1s linear;
		-moz-transition: width 1s linear;
		transition: width 1s linear;
		margin-right: 10px;
	}
		.table-content .price.discount sub {
			right: 70%;
		}
	.right-basket .item-row .price * {
		float: right;
		vertical-align: top;
	}
	.right-basket .item-row .price text {
		line-height: 1.35em;
		/*margin-top: 11px;*/
	}
    .right-basket .item-row .price text:first-of-type {
        height: 18px;
    }
	.right-basket .item-row .price.discount text {
		line-height: 1.35em;
		margin-top: 0;
        visibility: visible;
	}
	.right-basket .item-row {
		/*height: 61px;*/
		overflow: hidden;
	}
	.right-basket .item-row .expand {
		width: 100%;
		/*height: 38px;*/
		float: left;
		overflow: hidden;
		position: relative;
		-webkit-transition: width 0.5s linear;
		-moz-transition: width 0.5s linear;
		transition: width 0.5s linear;
	}
		.right-basket .item-row .expand > div {
			width: 435px;
			height: 38px;
			float: left;
			top: 0;
			left: 0;
			/*position: absolute;*/
		}
	.right-basket.active .desc {
		float: left;
		margin-right: 0;
	}
	.right-basket .styled-select {
		height: 30px;
		padding: 0 5px 0 8px;
		background-position : calc(100% - 5px) 50%;
		margin: 5px 0 0 0;
	}
	.right-basket .styled-select select {
		width: 190%;
		height: 30px;
	}
	.right-basket .list-small {
		width: 13%;
		margin-right: 10px;
	}
	.right-basket .list-big {
		width: 33%;
	}
	@-moz-document url-prefix() {
		.right-basket .styled-select select {
		   	padding: 2px 0 0 0;
		}
	}
/* checkout account */
*.big {
	font-size: 1.1em !important;
    font-family: 'varelaregular';
}
strong.big {
	font-family: 'achille_fy_lblack';
	margin-left: 15px;
}
.light-blue-wrapper {
	display: inline-block;
	background: #f3f4f6;
	padding: 14px 20px;
}
.static-popover {
	width: 100%;
	float: left;
	padding: 20px;
	background: #e5e9ea;
	position: relative;
}
	.static-popover:after {
		content: "";
		width: 12px;
		height: 12px;
		float: left;
		position: absolute;
		left: -6px;
		top: 20px;
		background: #e5e9ea;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.static-popover ul {
		width: 100%;
		margin: 0;
		padding: 0;
	}
		.static-popover ul li {
			width: 100%;
			float: left;
			margin: 0 0 10px 0;
			padding: 0;
			list-style: none;
			position: relative;
    		font-family: 'varelaregular';
    		font-size: 1em;
    		padding-left: 16px;
			color: #02253b;
		}
			.static-popover ul li span {
				position: absolute;
				left: 0px;
				top: 5px;
				font-size: 0.8em;
			}
.password-box {
	display: none;
}
.link-gold, .link-gold:hover {
	color: #ae8760;
}
.border-bottom {
	width: 100%;
	min-height: 1px;
	float: left;
	border-bottom: 1px solid #c2cecc;
}
.questionmark-button {
	width: 20px;
	height: 20px;
	float: left;
	background: url(../img/checkout-icons.jpg) no-repeat 0 -160px;
}
.questionmark-button.pos-abs {
	position: absolute;
	top: 10px;
	right: -20px;
}
.row-left {
	margin-left: -10px;
}
.cal-ico, .clock-ico, .shiping-ico {
	min-height: 20px;
   	font-family: 'varelaregular';
   	font-size: 0.8em;
	vertical-align: bottom;
}
.cal-ico {
	background: url(../img/checkout-icons.jpg) no-repeat 0 -279px;
	padding: 2px 0 0 24px;
}
.clock-ico {
	background: url(../img/checkout-icons.jpg) no-repeat 0 -317px;
	padding: 2px 0 0 24px;
}
.shiping-ico {
	background: url(../img/checkout-icons.jpg) no-repeat 0 -355px;
	padding: 2px 0 0 25px;
}
.app-box {
	width: 100%;
	float: left;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 30px rgba(0,0,0,0.3);
	box-shadow: 0 0 30px rgba(0,0,0,0.3);
	background: #fff;
}
	.app-box h3 {
		line-height: 1.5em;
	}
.checkout-successful-bg {
	width: 1024px;
	min-height: 770px;
	margin: 0 auto;
	background: url(../img/successful.jpg) no-repeat 100% 100%;
}
/* eof checkout account */

/* tooltip */
.tooltipBox {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    color: #003045;
    padding: 10px;
    z-index: 98;
    border: 1px solid #003045;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
    font-size: 0.8em;
}
    .tooltipBox.pos-top {
        bottom: 52px;
    }
    .tooltipBox.pos-bottom {
        top: 46px;
    }
    .tooltipBox.wide {
        width: 100%;
        left: 0;
    }
.tooltipBox span.ico {
    font-size: 1.5em;
    clear: right;
    margin-left: 10px;
    vertical-align: bottom;
}
/* eof tooltip */

/* search result */
.right-box-gray {
	width: 100%;
	float: left;
	background: #f3f4f6;
	padding: 0 20px 20px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
	.right-box-gray label {
		color: #022237;
    	font-family: 'varelaregular';
    	font-size: 0.9em;
		line-height: 1.4em;
		vertical-align: middle;
		margin: 8px 0 0 0;
	}
		.right-box-gray label input {
			float: left;
			margin: 2px 8px 0 0;
		}
	.search-box {
		float: none;
		display: inline-block;
		background: #f3f4f6;
		padding: 20px;
	}
		.search-box input {
			width: 100%;
			height: 40px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border: 1px solid #c2c9cf;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			padding: 0 10px;
    		font-family: 'varelaregular';
			color: #022237;
		}
		.search-box .btn-search {
			width: 30px;
			height: 20px;
			display: inline-block;
			position: absolute;
			top: 30px;
			right: 30px;
			background: url(../img/btn-search.jpg) no-repeat 100% 0 #fff;
			border: 0;
			padding: 0;
			margin: 0;
		}
/* overview oreder */
.table-box {
	width: 100%;
	float: left;
	border: 1px solid #cfd4d7;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.trunk-ico {
	min-height: 21px;
	background: url(../img/trunk-ico.jpg) no-repeat 0 0;
	padding: 0 0 0 36px;
	color: #003045;
}
/* eof overview order */
@media screen and (min-width: 1025px) {
	.wrap .menu-link {
		visibility: hidden;
	}
}
@media screen and (max-width: 1024px) {
	body {
		padding: 12px 0 0 0;
	}
	#menu.panel {
		left: -371px;
	}
	.checkout-finish {
		padding: 0 23px;
	}
}
