.lbl {
	text-align: right;
}
.btn-profile {
	margin: 35px 0 0 20px;
}
.radio-box {
	height: 40px;
	color: #003045;
    font-family: 'varelaregular';
    font-size: 1em;
    vertical-align: middle;
    line-height: 40px;
}
	.radio-box > * {
    	font-weight: normal;
    	margin-right: 10px;
    	vertical-align: bottom;
    	cursor: pointer;
	}
.form-bg-light-blue {
	background-color: #f2f4f6;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-right: 15px;
}

div.error, div[class*=" error-"] {
	background: #f79f9e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-top: 10px;
}
	div.error label.error, div[class*=" error-"] label.error {
		width: 100%;
		float: left;
		color: #fff;
    	font-family: 'varelaregular';
    	font-size: 0.7em;
 		padding: 3px 0 3px 8px;
 		margin: 0;
 		position: relative;
	}
		div[class*=" error-"] label.error {
			padding-left: 23px;
			padding-right: 23px;
		}
		div.error label.error:before, div[class*=" error-"] label.error:before {
			content: "\2022";
			left: 0px;
			position: absolute;
		}
			div[class*=" error-"] label.error:before {
				left: 15px;
			}
.right-menu {
	width: 100%;
	margin: 0;
	padding: 0;
	border-top: 1px solid #afb7ba;
}
	.right-menu li {
		width: 100%;
		padding: 15px 20px;
		border-bottom: 1px solid #afb7ba;
		background: #f3f4f6;
		list-style: none;
		position: relative;
	}
		.right-menu li.active {
			background: #003046;
		}
			.right-menu li.active:before {
				content: " ";
				width: 40px;
				height: 51px;
				position: absolute;
				border-right: 20px solid #003046;
				border-top: 26px solid transparent;
				border-bottom: 25px solid transparent;
				left: -40px;
				top: 0px;
			}
		.right-menu li a {
			color: #0c2d34;
    		font-family: 'varelaregular';
		}
		.right-menu li.active a {
			color: #fff;
		}
		.right-menu li a:hover {
			text-decoration: none;
		}

